# Bonus: Temperature Analysis I

In [68]:
import pandas as pd
from datetime import datetime as dt

In [69]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.1+ KB

In [71]:
# Convert the date column format from string to datetime

df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [73]:
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [74]:
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [75]:
# Drop the column date
df.reset_index(drop=True, inplace=True)

In [76]:
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

### Compare June and December data across all years

In [77]:
from scipy import stats

In [78]:

df['month'] = pd.DatetimeIndex(df['date']).month

In [79]:
df.head()

       station       date  prcp  tobs  month
0  USC00519397 2010-01-01  0.08    65      1
1  USC00519397 2010-01-02  0.00    63      1
2  USC00519397 2010-01-03  0.00    74      1
3  USC00519397 2010-01-04  0.00    76      1
4  USC00519397 2010-01-06   NaN    73      1

In [100]:
# Identify the average temperature for June
June = df[df['month'] == 6 ]
Junetemps = June['tobs']

In [101]:
June.head()

         station       date  prcp  tobs  month
133  USC00519397 2010-06-01  0.00    78      6
134  USC00519397 2010-06-02  0.01    76      6
135  USC00519397 2010-06-03  0.00    78      6
136  USC00519397 2010-06-04  0.00    76      6
137  USC00519397 2010-06-05  0.00    77      6

In [102]:
JuneAve = June.tobs.mean()

In [103]:
JuneAve

74.94411764705882

In [104]:
# Identify the average temperature for December
May = df[df['month'] == 5 ]
Maytemps = May['tobs']
May

           station       date  prcp  tobs  month
104    USC00519397 2010-05-01  0.00    77      5
105    USC00519397 2010-05-02  0.03    73      5
106    USC00519397 2010-05-03  0.20    74      5
107    USC00519397 2010-05-04  0.08    76      5
108    USC00519397 2010-05-05  0.01    76      5
...            ...        ...   ...   ...    ...
19464  USC00516128 2017-05-25  0.88    75      5
19465  USC00516128 2017-05-26  0.00    72      5
19466  USC00516128 2017-05-27  0.50    72      5
19467  USC00516128 2017-05-28  0.00    73      5
19468  USC00516128 2017-05-30   NaN    72      5

[1733 rows x 5 columns]

In [105]:
# Create collections of temperature data
MayAve = May.tobs.mean()

In [99]:
MayAve

73.68090017311022

In [106]:
# Run paired t-test
stats.ttest_ind(Junetemps, Maytemps, equal_var=False)

Ttest_indResult(statistic=11.191733098918201, pvalue=1.3912534492861705e-28)

### Analysis